<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Money Changer</title>
    <style>
        div {
            width: 50%; /* set the width of the div */
            margin: 0 auto; /* center the div horizontally */
            text-align: center; /* center the text inside the div */
        }
    </style>
</head>
<body>
    <h1 style="text-align: center; width: 100%;">Welcome to Currency Exchange</h1>
    <div>
        <a href="{{ url_for('change', currency='USD') }}"><button>USD</button></a>
        <a href="{{ url_for('change', currency='SGD') }}"><button>SGD</button></a>
    </div>
    <footer>
        Copyright &copy; 2023 by Go Dave Malvin
    </footer>
</body>
</html>