<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Login</title>
    <style>
        div {
            width: 50%; /* set the width of the div */
            margin: 0 auto; /* center the div horizontally */
            text-align: center; /* center the text inside the div */
        }
    </style>
</head>
<body>
    <div>
        <h1>Login</h1>
        <form action="/login" method="post">
            <h3>Username</h3>
            <input type="text" name="username"> <br>
            <h3>Password</h3>
            <input type="password" name="password"> <br> <br>
            <input type="submit" value="Login">
        </form>
    </div>
    <footer>
        Copyright &copy; 2023 by Go Dave Malvin
    </footer>
</body>
</html>